# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TestGithubSync.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Lenovo\Documents\Unreal Projects\TestGithubSync\.idea\.idea.TestGithubSync\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
